.characters-containter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: black;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 95vw;
}
